.body {
  background: rgb(217,91,172);
  background: radial-gradient(circle, rgba(217,91,172,1) 0%, rgba(8,15,23,1) 100%);
    -webkit-animation: body 8s forwards;
            animation: body 8s forwards;
overflow: hidden;
}

@-webkit-keyframes body {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes body {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}


.gameBoard {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(231, 231, 231, 0.5);
  width: 50%;
  height: 75%;
  border-radius: 15%;
  border: 2px outset rgb(255, 255, 255);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.Categorypoints {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 15px;
  width: 60%;
}

.scoreButtons {
 
}

button {
  margin: 10px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Playfair Display', serif;
}

.decreaseBtn{
  color:white;
  background-color: rgb(129, 47, 92);
  border: 2px outset rgb(202, 114, 163);
  
}

.getQuestionsbtn {
  width:125px;
  font-weight: bolder;
}

.increaseBtn {
  background: rgb(255, 100, 185);
  border: 2px outset rgb(129, 47, 92);
}

.resetBtn {
  color: white;
  border: 2px outset rgb(240,97,140);
  background-color: black;
}


ul li {
  list-style: none;
}

span {
 border-bottom: 2px solid rgb(228, 54, 150);
 
}

.questionPara {
  font-size: 15pt;
  margin: 5px;
}

.answers {
  font-style: oblique;
 
}

.jeopardyLetters{

  border: none;
  letter-spacing: 5px;
}

h1 {
  font-size: 20pt;
  font-family: 'Oswald', sans-serif;

}

h2 {
  font-family: 'Playfair Display', serif;

}

p {
  font-family: 'Playfair Display', serif;
}