.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 7vh;
  background-color: rgba(0, 0, 0, 0.3);
  color:rgb(80, 93, 170); 
  font-family: 'Lato', sans-serif;
}

.navLinks {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.banner::after {
width: 300px ;
display: inline;
height: 200px;
  background-color: rgba(0, 0, 0, 0.342) ;

}

.logo {
  color: #ed2933;
}


 .articleBG {
   display: flex;
   justify-content: flex-start;
 }

 .articleBG{


 }

p{
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 1px;
}

h1 {
  font-family: 'Odibee Sans', cursive;
  font-size: 25pt;
}




/* Header CSS */

.header {
  display: flex;
  padding-top: 10px;
  justify-content: space-evenly;
  margin: 0px auto;

}



.header h1 {
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Lobster Two', cursive;
  
}

.headerText {
  width: 46%;
  margin-left: 10px

}

.imgDiv{
  position: relative;
  bottom: 10px;
  width:100%;
  height: 500px;
  align-self: flex-start;
 
}

/* Middle Content */

h1,h2,h3 {
  letter-spacing: 1px;
}

h3 {
  font-family: 'Odibee Sans', cursive;
}

.middle-content{
  background-color: ;
  display: flex;
  justify-content: center;
 flex-direction: row;

}

.topStories{
 
  height: 700px;
  display: flex;
  justify-content: space-evenly;
 
}

.organizeTopArticles{
  width: 40%;
 height: 400px;
position: relative;
left: 50px;
  justify-content: center;
  
}

.top-right-articles{
 border-bottom: 3px solid black;
 width: 60%;
}



.firstArticle {
  border-right: 4px bevel black;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 50%;
}


.firstArticlePic{
  align-self: center;
}

.firstArticle h3 {
  font-size: 16pt;
}

.firstArticle p {
  font-size: 18pt;
}

.res-articles-container{
  position: relative;
  top: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

}

.rowtop{
  display: flex;
}


.row-bottom{
  
  display:flex;
 
}

.bottom-articles-content{
  border: 2px solid rgba(0, 0, 0, 0.089);
  margin: 10px;
  width: 40%;
  min-height: 200px;
  box-shadow: -2px 2px 15px 0px rgba(70, 70, 70, 0.349);

}


span {
  text-align: center;
  display: flex;
  justify-content: flex-start;

}

span h1{
  align-self: center;
  background-color: #d43441; 
  padding-bottom: 5px;
  padding-top: 5px ;
  padding-left: 70px;
  padding-right: 3px;
  font-size: 20pt;
}

.Home-pg-events{
  border: 2px solid rgba(0, 0, 0, 0.089);
  margin: 10px;
  width: 60%;
  min-height: 200px;
  box-shadow: -2px 2px 15px 0px rgba(70, 70, 70, 0.349);
}

.Home-pg-events h3{
  margin:5px;
  font-family: 'Odibee Sans', cursive;
  letter-spacing: 1px;
}



.buttonDiv {
  position: relative;
  top: 100px;
  height: 100px;
}

button {
  width:100px;
  height: 30px;
  background: #1067B4;
  color: white;
  border-radius: 10%;
  border:2px inset #bebebe;
}

button:hover {
  background: #525455;
}


.submit{
  width:100px;
  height: 30px;
  background: #1067B4;
  color: white;
  border-radius: 10%;
  border:2px inset #bebebe;
  margin-left: 10px;
}

ul {
  list-style: none;
}



/* Links */

nav {
  background-color: #1C2D30;
  width:100%;
}

nav a:link {
  text-decoration: none;
  color: white;
}

 nav a:visited {
  color: white;
}

a:link {
  text-decoration: none;
  color:black;
}

a:hover{
  text-transform: uppercase;
  
}

a:visited {
  font-style: italic;
  color:black;
}

.firstArticle a:link{
  color:black;
}

.firstArticle a:hover {
  text-transform: uppercase;
}


.articlesHeader {

 display:flex;

 flex-direction: row;

}

.resStoreDiv {
  border: 2px solid black;
}

/*  Articles page */

.articleBG h1{
  background-color: #d43441; 
  padding-bottom: 5px;
  padding-top: 5px ;
  padding-left: 70px;
  padding-right: 3px;
  font-size: 25pt;
  padding-left:60px;

}

.article-heading {
 
  margin-left: 15px;
  display: flex;
  flex-direction: row;
}

.article-heading h3 {
  cursor: pointer;
  
}

.what-to-watch{
  
  padding-left: 10px;
}

/*   Restaurants page */ 

.restaurantsHeader {
display: flex;

}

.restaurantsH1 {
  background-color: #d43441; 
  padding-bottom: 5px;
  padding-top: 5px ;
  padding-left: 70px;
  padding-right: 5px;
  font-size: 25pt;

}

.menuitems {

  color: #d43441; 
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(28, 45, 48);;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 3px outset rgb(255, 255, 255);
  color:white;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}